.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0px 10px 5px 0px;
    padding-bottom: 5px;
}

.product-name{
    color: rgb(72, 72, 194);
    font-weight: 400;
}

.main-button{
    border-radius: 5px;
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    cursor: pointer;
}